*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: khaki;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

.btn-smile{
    background: none;
    border: 0;
}

.click-text{
    color:darkgoldenrod
}